<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New message from your portfolio site</title>
  </head>
  <body style="background-color: white; color: black;" className="bg-gray-100 text-black">
    <div className="">
      <section className="bg-white borderBlack my-10 px-10 py-4 rounded-md">
        <h1 className="leading-tight text-sm">
          You received the following message from the contact form
        </h1>
        <p>{{message}}</p>
        <hr />
        <p>The sender's email is: {{senderEmail}}</p>
      </section>
    </div>
  </body>
</html>
// export default function ContactFormEmail({ // message, // senderEmail, // }:
ContactFormEmailProps) { // return ( // // @ts-ignore //
<Html>
  //
  <Head />
  // {/* @ts-ignore */} //
  <Preview>New message from your portfolio site</Preview>
  // {/* @ts-ignore */} //
  <Tailwind>
    // {/* @ts-ignore */} //
    <Body className="bg-gray-100 text-black">
      // {/* @ts-ignore */} //
      <Container>
        // {/* @ts-ignore */} //
        <Section className="bg-white borderBlack my-10 px-10 py-4 rounded-md">
          // {/* @ts-ignore */} //
          <Heading className="leading-tight text-sm">
            // You received the following message from the contact form //
          </Heading>
          // {/* @ts-ignore */} //
          <Text>{message}</Text>
          //
          <Hr />
          // {/* @ts-ignore */} //
          <Text>The sender's email is: {senderEmail}</Text>
          //
        </Section>
        //
      </Container>
      //
    </Body>
    //
  </Tailwind>
  //
</Html>
// ); // }